<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=demo;password=0zxMNBV;Data Source=169.254.18.160\SQLEXPRESS,1433;Database=Sitecore_core" />
  <add name="master" connectionString="user id=demo;password=0zxMNBV;Data Source=169.254.18.160\SQLEXPRESS,1433;Database=Sitecore_master" />
  <add name="web" connectionString="user id=demo;password=0zxMNBV;Data Source=169.254.18.160\SQLEXPRESS,1433;Database=Sitecore_web" />
  <add name="analytics" connectionString="mongodb://localhost/Sitecore_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/Sitecore_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/Sitecore_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/Sitecore_tracking_contact" />
  <add name="reporting" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Analytics" />
  <add name="reporting.apikey" connectionString="" />
</connectionStrings>